# Data Mining: Frequent Patterns: Apriori Algorithm and FPGrowth Algorithm

## Related dataset files
* "retail_dataset1.csv"
* "store_data.csv"

### Task 1
Make sure you have the following library is installed on your machine: "mlxtend"

Hint: !pip install mlxtend

!pip install mlxtend

### Task 2
Consider the following dataset

dataset_market_1 = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

Write a python program to declare the dataset.

<!--

-->

In [9]:
dataset_market_1 = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

### Task 3
Refering to dataset_market_1, what does the third basket contain? 

Write a line of code to retrieve the answer.

In [10]:
dataset_market_1[2]

['Milk', 'Apple', 'Kidney Beans', 'Eggs']

### Task 4
Refering to dataset_market_1, write a code to encode the dataset.

Represent the produced encoded array as a dataframe named __df_dataset_market_1__.

<!--
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
-->

# Using Transactionencoder we can transform this dataset into a logical data frame. Each column represents an item and each row represent a record or a transaction for one purchase.

# sing and TransactionEncoder object, we can transform this dataset into an array format suitable for typical machine learning APIs. Via the fit method, the TransactionEncoder learns the unique labels in the dataset, and via the transform method, it transforms the input dataset (a Python list of lists) into a one-hot encoded NumPy boolean array:

# After fitting, the unique column names that correspond to the data array shown above can be accessed via the columns_ attribute:

In [11]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset_market_1).transform(dataset_market_1)
df = pd.DataFrame(te_ary)
df

      0      1      2      3      4     5      6      7      8      9      10
0  False  False  False   True  False  True   True   True   True  False   True
1  False  False   True   True  False  True  False   True   True  False   True
2   True  False  False   True  False  True   True  False  False  False  False
3  False   True  False  False  False  True   True  False  False   True   True
4  False   True  False   True   True  True  False  False   True  False  False

### Task 5
Refering to __df_dataset_market_1__. Use the __Apriori algorithm__ to calculate the most frequent items and perform the associated-rule analysis on the given dataframe. For that, consider the following settings:
* Set min_support = 0.8
* use_colnames = True
* Store the frquent items calculated in a dataframe named __frequent_itemsets_.8__ 
<!--
from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(df, min_support=0.8, use_colnames=True)
-->

In [16]:
from mlxtend.frequent_patterns import apriori

frequent_itemsets = apriori(df,min_support=0.6,use_colnames=True )
frequent_itemsets

    support   itemsets
0       0.8        (3)
1       1.0        (5)
2       0.6        (6)
3       0.6        (8)
4       0.6       (10)
5       0.8     (3, 5)
6       0.6     (8, 3)
7       0.6     (5, 6)
8       0.6     (8, 5)
9       0.6    (10, 5)
10      0.6  (8, 3, 5)

#  By default,apriori returns the column indices of the items, which is helpful for associationrule mining. Set use_colnames=True to convert these integer values into therespective item names:

### Task 6
Re-do task 5, this time considering the following settings:
* Set min_support = 0.4
* use_colnames = True

Store the frquent items calculated in a dataframe named __frequent_itemsets_.4__

In [13]:
frequent_itemsets_4 = apriori(df, min_support=0.4, use_colnames=True)
frequent_itemsets_4

    support          itemsets
0       0.4               (1)
1       0.8               (3)
2       1.0               (5)
3       0.6               (6)
4       0.4               (7)
5       0.6               (8)
6       0.6              (10)
7       0.4            (1, 5)
8       0.8            (3, 5)
9       0.4            (3, 6)
10      0.4            (3, 7)
11      0.6            (8, 3)
12      0.4           (10, 3)
13      0.6            (5, 6)
14      0.4            (5, 7)
15      0.6            (8, 5)
16      0.6           (10, 5)
17      0.4           (10, 6)
18      0.4            (8, 7)
19      0.4           (10, 7)
20      0.4           (8, 10)
21      0.4         (3, 5, 6)
22      0.4         (3, 5, 7)
23      0.6         (8, 3, 5)
24      0.4        (10, 3, 5)
25      0.4         (8, 3, 7)
26      0.4        (10, 3, 7)
27      0.4        (8, 10, 3)
28      0.4        (10, 5, 6)
29      0.4         (8, 5, 7)
30      0.4        (10, 5, 7)
31      0.4        (8, 10, 5)
32      0.4        (8, 10, 7)
33      0.4      (8, 3, 5, 7)
34      0.4     (10, 3, 5, 7)
35      0.4     (8, 10, 3, 5)
36      0.4     (8, 10, 3, 7)
37      0.4     (8, 10, 5, 7)
38      0.4  (3, 5, 7, 8, 10)

### Task 7
Refering to the dataframe produced in Task 6, __frequent_itemsets_.4__;  add a column to the dataframe that carries the length of the calculated frequent items.
<!--
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets
-->

In [6]:
frequent_itemsets_4 = apriori(df, min_support=0.4, use_colnames=True)
frequent_itemsets_4['length'] = frequent_itemsets_4['itemsets'].apply(lambda x: len(x))
frequent_itemsets_4

    support          itemsets  length
0       0.4               (1)       1
1       0.8               (3)       1
2       1.0               (5)       1
3       0.6               (6)       1
4       0.4               (7)       1
5       0.6               (8)       1
6       0.6              (10)       1
7       0.4            (1, 5)       2
8       0.8            (3, 5)       2
9       0.4            (3, 6)       2
10      0.4            (3, 7)       2
11      0.6            (8, 3)       2
12      0.4           (10, 3)       2
13      0.6            (5, 6)       2
14      0.4            (5, 7)       2
15      0.6            (8, 5)       2
16      0.6           (10, 5)       2
17      0.4           (10, 6)       2
18      0.4            (8, 7)       2
19      0.4           (10, 7)       2
20      0.4           (8, 10)       2
21      0.4         (3, 5, 6)       3
22      0.4         (3, 5, 7)       3
23      0.6         (8, 3, 5)       3
24      0.4        (10, 3, 5)       3
25      0.4         (8, 3, 7)       3
26      0.4        (10, 3, 7)       3
27      0.4        (8, 10, 3)       3
28      0.4        (10, 5, 6)       3
29      0.4         (8, 5, 7)       3
30      0.4        (10, 5, 7)       3
31      0.4        (8, 10, 5)       3
32      0.4        (8, 10, 7)       3
33      0.4      (8, 3, 5, 7)       4
34      0.4     (10, 3, 5, 7)       4
35      0.4     (8, 10, 3, 5)       4
36      0.4     (8, 10, 3, 7)       4
37      0.4     (8, 10, 5, 7)       4
38      0.4  (3, 5, 7, 8, 10)       5

### Task 8
Refering to __df_dataset_market_1__. Use the __FP-Growth algorithm__ to calculate the most frequent items and perform the associated-rule analysis on the given dataframe. For that, consider the following settings:
* Set min_support = 0.5
* use_colnames = True
* Store the frquent items calculated in a dataframe named __frequent_itemsets_.5__ 
<!--
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.6, use_colnames=True)
-->

In [8]:
from mlxtend.frequent_patterns import fpgrowth
fpgrowth(df, min_support=0.4, use_colnames=True)

    support          itemsets
0       1.0               (5)
1       0.8               (3)
2       0.6              (10)
3       0.6               (8)
4       0.6               (6)
5       0.4               (7)
6       0.4               (1)
7       0.8            (3, 5)
8       0.6           (10, 5)
9       0.4           (10, 3)
10      0.4        (10, 3, 5)
11      0.6            (8, 3)
12      0.6            (8, 5)
13      0.4           (8, 10)
14      0.6         (8, 3, 5)
15      0.4        (8, 10, 3)
16      0.4        (8, 10, 5)
17      0.4     (8, 10, 3, 5)
18      0.6            (5, 6)
19      0.4           (10, 6)
20      0.4            (3, 6)
21      0.4        (10, 5, 6)
22      0.4         (3, 5, 6)
23      0.4            (8, 7)
24      0.4           (10, 7)
25      0.4            (3, 7)
26      0.4            (5, 7)
27      0.4        (8, 10, 7)
28      0.4         (8, 3, 7)
29      0.4         (8, 5, 7)
30      0.4        (10, 3, 7)
31      0.4        (10, 5, 7)
32      0.4         (3, 5, 7)
33      0.4     (8, 10, 3, 7)
34      0.4     (8, 10, 5, 7)
35      0.4      (8, 3, 5, 7)
36      0.4     (10, 3, 5, 7)
37      0.4  (3, 5, 7, 8, 10)
38      0.4            (1, 5)